body {
  margin: 0;
  background: #111;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
}

h1 {
  margin-top: 20px;
  font-size: 32px;
  letter-spacing: 1px;
}

#visualizer {
  width: 600px;
  height: 300px;
  background: transparent;
}

.controls {
  margin-top: 20px;
  display: flex;
  gap: 20px;
}

button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  font-size: 24px;
  border: none;
  cursor: pointer;
  background: #333;
  color: white;
  transition: 0.3s;
}

button:hover {
  transform: scale(1.15);
  background: #1DB954;
}

#audioFile {
  margin-top: 20px;
}
