body {
  background: linear-gradient(135deg, #0c0316, #0b0446);
  color: #0ff7ff;
  font-family: 'Orbitron', sans-serif;
  text-align: center;
}

button {
  background: transparent;
  color: #00eaff;
  border: 2px solid #00eaff;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background: #00eaff;
  color: #000;
  box-shadow: 0 0 20px #00eaff;
}
